* {
  font-family: 'Roboto';
}

.filters-list {
  padding: 10px;
}

.navbar-filters-button {
  cursor: pointer;
  background-color: transparent;
  color: #475569;
  font-size: 16px;
  border: 1px solid #0284c7;
  text-align: start;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
}

.selected-status {
  color: #0284c7;
}

@media screen and (min-width: 768px) {
  .navbar-filters-button {
    border: none;
    outline: none;
  }
}
